---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import ReactJS from "./icons/ReactJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  REACT:{
    name: "React.js",
    class: "bg-black text-white",
    icon: ReactJS,
  }
}
const PROJECTS = [
  {
    title: "Clima en Tiempo Real 🌦️",
    description:
      "Este proyecto permite consultar el clima en tiempo real para cualquier ciudad ingresada por el usuario. Utiliza una API para obtener datos meteorológicos y muestra la información relevante de manera intuitiva.",
    link: "https://consultareltiempo.netlify.app/",
    github: "https://github.com/Stivenjs/Api-clima?tab=readme-ov-file",
    image: "/projects/clima.webp",
    
  },
  {
    title: "MixMeet",
    description:
      "MixMeet es una aplicación web diseñada para gestionar y explorar eventos en tiempo real. Desarrollada con React, Tailwind CSS y Firebase, MixMeet ofrece una experiencia intuitiva y atractiva para usuarios que buscan descubrir y participar en eventos locales.",
    link: "https://mix-meet.vercel.app/",
    image: "/projects/mixmeet.webp",
    
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description,  link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



